@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap");
:root {
    --maincolor: #58257B;
    --subcolor: #A083B4;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/* --------------------------SECTION TOP--------------------------- */
.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.top { 
    padding: 6px 12px;
}
/* --------------------------SECTION ADMIN CONTENT--------------------------- */
.admin-content {
    padding: 0px 12px;
}
.admin-content-left {
    width: 20%;
    padding-left: 6px;
    background-color: #b69bc9;
}
.admin-content-left ul li ul li {
    padding-left: 20px;
    height: 30px;
}
.admin-content-left ul li ul {
    display: none;
    padding-left: 30px;
 
}
.admin-content-left ul li.active ul {
    display: block;
}
.admin-content-left > ul >li >a {
    font-weight: bold;
    font-family: "Bona Nova", serif;
    font-size: 18px;
   
}
.admin-content-left > ul > li {
    line-height: 30px;
    margin-bottom: 20px;

   
}
.admin-content-left > ul > li img {
  margin-right: 12px;
  line-height: 22px;
}
.admin-content-right {
    width: 80%;
    background-color: #dddd;
    padding: 12px 12px;
    height: 100vh;
    overflow-y: scroll;
}
/* --------------------------SLIDER CONTENT--------------------------- */
.table-content table {
    width: 100%;
}
.table-content table,th,td {
    text-align: center;
    border: 1px solid #cccc;
    border-collapse: collapse;
    padding: 12px 0;
    font-family: "Bona Nova", serif;
}

.table-content table img {
    width: 200px;
}
.table-add-content input {
    margin: 30px 0;
}
.admin-btn {
    display: block;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    margin-top: 20px;

}
.slider-edit img {
    width: 150px;
}
/* ------------cartegory-add-content---------------- */
.cartegory-add-content input {
    outline: none;
    padding-left: 6px;
    height: 30px;
}
/* ------------sub-cartegory-add-content---------------- */
.subcartegory-input {
    outline: none;
    padding-left: 6px;
    height: 30px;
    margin-bottom: 20px;
    width: 200px;
}
.subcartegory-add-content select {
    outline: none;
    padding-left: 6px;
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
}
/* ------------------------product-add-content----------- */
.product-add-content input {
    outline: none;
    outline: none;
    padding-left: 6px;
    height: 30px;
    margin-bottom: 20px;
    width: 500px;
}
.product-add-content label {
    display: block;
}
.product-add-content select{
    outline: none;
    padding-left: 6px;
    height: 30px;
    width: 500px;
    margin-bottom: 20px;
}
.product-add-content textarea {
    outline: none;
    padding: 6px;
    width: 500px;
}
/* ---------------------------css trang Admin------------------------- */

.header-top-left p {
    font-family: "Otomanopee One", sans-serif;
    color: var(--maincolor);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 5px
}
.header-top-left {
    margin-bottom: 30px;
}
/* ---------------------------css trang login------------------------- */
.login {
    height: 100vh;
    width: 100vw;
    background-color: #A083B4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.login-form {
    width: 300px;
    height: 350px;
    background-color: #fff;
   border-radius: 10px;
   padding: 50px 30px;
}
.login-form h1 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #58257B;

    
}
.login-form input {
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
    outline: none;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid #A083B4;
}
.login-form button {
    height: 35px;
    width: 150px;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid #58257B
}
.login-form button:hover {
    background-color: tomato;
    color: #fff;
    border: none;
}
.admin-content-right-bg {
    width: 100%;
    height: 100%;
}
.admin-content-right-bg img {
    width: 100%;
    height: 100%;
}
/* --------------------Bá»• sung------------------ */
.sanpham-size input {
    padding-left: 0px!important;
    height: 15px!important;
    margin-right: 10px!important;
    width: 15px!important;
}
.sanpham-size {
    display: flex;
}